.gradient-background {
    background: linear-gradient(300deg, #00bfff, #1b5475, #8a25c0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  .xprofilepic-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
  }
  a.button {
    padding: 1px 6px;
    border: 1px outset buttonborder;
    border-radius: 3px;
    color: rgb(113, 145, 220);
    background-color:rgb(255, 255, 255);
    text-decoration: darkolivegreen;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
  color: black;
}
.text-body-secondary {
  padding: 1px 6px;
  border-radius: 3px;
  background-color: rgb(9, 7, 8);
  border: none;
  
}
.footer{
  background-color: antiquewhite;
}